.App {
  background-color: #f5f5f9;
  font-family: 'Roboto', sans-serif;
}
#sidebar {
  background-color: #fff;
  height: 100vh;
}
#sidebar > div.red {
  background-color: #E63946;
  color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
}
#topbar > input, #topbar > button {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 0.2rem;
}
#topbar > input {
  width: 75%;
}